@charset "utf-8";
*{margin:0; padding:0;}

.tmng_mooc_smile{font:12px/1.5 微软雅黑, 黑体, Arial, Helvetica, sans-serif; color:#000; background:url(../images/bg_tmng.jpg) no-repeat center top #3d1d5e;}
.tmng_mooc_smile table{width:100%; border:0; border-collapse:collapse; border-spacing:0;}
.tmng_mooc_smile table th{font-weight:normal; text-align:left;}
.tmng_mooc_smile ul,.tmng_mooc_smile ol{list-style-type:none;}
.tmng_mooc_smile input,.tmng_mooc_smile select,.tmng_mooc_smile textarea{vertical-align:middle; font:12px/1.5 微软雅黑, 黑体, Arial, Helvetica, sans-serif; color:#000;}
.tmng_mooc_smile a{color:#000; text-decoration:none;}
.tmng_mooc_smile a:hover{color:#000;}
.tmng_mooc_smile img{display:block; border:0;}

.tmng_mooc_smile .fl{float:left;}
.tmng_mooc_smile .fr{float:right;}
.tmng_mooc_smile .icons{float:left; font-size:0; line-height:0; overflow:hidden; display:inline; background:url(../images/icons.gif) no-repeat;}
.tmng_mooc_smile .icons_il{display:inline-block; font-size:0; line-height:0; overflow:hidden; background:url(../images/icons.gif) no-repeat; vertical-align:top; *vertical-align:middle;}
.tmng_mooc_smile .clearfix{zoom:1;}
.tmng_mooc_smile .clearfix:after{content:"."; height:0; font-size:0; line-height:0; overflow:hidden; display:block; clear:both; visibility:hidden;}
.tmng_mooc_smile .wrap_mooc_smile{width:1100px; margin:0 auto; padding-top:6px;}

.tmng_mooc_smile a.clrF,.tmng_mooc_smile a.clrF:hover{color:#FFF;}


.tmng_mooc_smile .course_mooc_smile{color:#FFF; text-shadow:1px 1px 1px rgba(0,0,0,0.75);}
.tmng_mooc_smile .course_mooc_smile img{margin-right:8px;}
.tmng_mooc_smile .course_mooc_smile .name{font-size:18px; font-weight:normal; padding-top:4px;}
.tmng_mooc_smile .course_mooc_smile .author{font-size:14px;}
.tmng_mooc_smile .nav_mooc_smile{margin-top:19px; height:32px; line-height:32px; text-align:center; font-size:14px; text-shadow:1px 1px 1px rgba(80,25,140,0.75);}
.tmng_mooc_smile .nav_mooc_smile li{display:inline-block; vertical-align:top; margin-left:3px; *display:inline; zoom:1;}
.tmng_mooc_smile .nav_mooc_smile a,.tmng_mooc_smile .nav_mooc_smile span{display:inline-block; vertical-align:top; background:url(../images/bg_nav_tmng.gif) no-repeat; height:32px; -webkit-transition:height,margin-top 0.3s; -moz-transition:height,margin-top 0.3s; -ms-transition:height,margin-top 0.3s; transition:height,margin-top 0.3s;}
.tmng_mooc_smile .nav_mooc_smile a{padding-left:3px; background-position:0 0;}
.tmng_mooc_smile .nav_mooc_smile span{padding:0 10px 0 7px; cursor:pointer; background-position:right -42px;}
.tmng_mooc_smile .nav_mooc_smile .icons_il{width:22px; height:32px; background:url(../images/icons_nav_tmng.gif) no-repeat; margin-right:2px;}
.tmng_mooc_smile .nav_mooc_smile .n_course .icons_il{background-position:0 0;}
.tmng_mooc_smile .nav_mooc_smile .n_bulletin .icons_il{background-position:-32px 0;}
.tmng_mooc_smile .nav_mooc_smile .n_exercise .icons_il{background-position:-64px 0;}
.tmng_mooc_smile .nav_mooc_smile .n_exam .icons_il{background-position:-96px 0;}
.tmng_mooc_smile .nav_mooc_smile .n_calc .icons_il{background-position:-128px 0;}
.tmng_mooc_smile .nav_mooc_smile .n_data .icons_il{background-position:-160px 0;}
.tmng_mooc_smile .nav_mooc_smile .n_discuss .icons_il{background-position:-192px 0;}
.tmng_mooc_smile .nav_mooc_smile .n_set .icons_il{background-position:-224px 0;}
.tmng_mooc_smile .nav_mooc_smile a:hover,.tmng_mooc_smile .nav_mooc_smile a.cur{height:36px; line-height:36px; color:#000; background-position:0 -84px; position:relative; margin-top:-4px; text-shadow:0 0 0 rgba(255,255,255,0);}
.tmng_mooc_smile .nav_mooc_smile a.cur:hover{color:#000;}
.tmng_mooc_smile .nav_mooc_smile a:hover span,.tmng_mooc_smile .nav_mooc_smile a.cur span{height:36px; background-position:right -130px;}
.tmng_mooc_smile .nav_mooc_smile .n_course a:hover .icons_il,.tmng_mooc_smile .nav_mooc_smile .n_course a.cur .icons_il{background-position:0 -43px;}
.tmng_mooc_smile .nav_mooc_smile .n_bulletin a:hover .icons_il,.tmng_mooc_smile .nav_mooc_smile .n_bulletin a.cur .icons_il{background-position:-32px -43px;}
.tmng_mooc_smile .nav_mooc_smile .n_exercise a:hover .icons_il,.tmng_mooc_smile .nav_mooc_smile .n_exercise a.cur .icons_il{background-position:-64px -43px;}
.tmng_mooc_smile .nav_mooc_smile .n_exam a:hover .icons_il,.tmng_mooc_smile .nav_mooc_smile .n_exam a.cur .icons_il{background-position:-96px -43px;}
.tmng_mooc_smile .nav_mooc_smile .n_calc a:hover .icons_il,.tmng_mooc_smile .nav_mooc_smile .n_calc a.cur .icons_il{background-position:-128px -43px;}
.tmng_mooc_smile .nav_mooc_smile .n_data a:hover .icons_il,.tmng_mooc_smile .nav_mooc_smile .n_data a.cur .icons_il{background-position:-160px -43px;}
.tmng_mooc_smile .nav_mooc_smile .n_discuss a:hover .icons_il,.tmng_mooc_smile .nav_mooc_smile .n_discuss a.cur .icons_il{background-position:-192px -43px;}
.tmng_mooc_smile .nav_mooc_smile .n_set a:hover .icons_il,.tmng_mooc_smile .nav_mooc_smile .n_set a.cur .icons_il{background-position:-224px -43px;}



.wrap1000{margin-top:0!important;}
.RightCon{padding-top:0!important;}